* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    background-color: rgb(254, 254, 254);
    color: #333;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    
}      

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: blueviolet;
    color: white;
    padding: 1rem;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 1rem;
}

main{
    padding: 2rem 5rem;
    min-height: 100vh;    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: #fff;
    font-weight: bold;    
    padding: 1rem;
}

.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.login-container{
    max-width: 550px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 24rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}
  
.login-form{
    width: 100%;
    padding: 1rem;
}

.registrar a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.login-form input{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button{
    padding: 0.7rem;
    width: 100%;       
    background-color: #4CAF50;
    color: #fff;    
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover{
    background-color: #45a049;
}           

.register-container{    
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 24rem;
    height: 42rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p {
    margin-top: 1rem;
}

.message-container {    
    display: flex;    
    align-items: center;
    justify-content: center;    
    width: 100%;
    margin-top: 1rem;
}